Repository apache/incubator-hugegraph-ai, pull requests merged in 2024-11, with the labels that each got.

#99 docs(llm): update configuration file related
  hugegraph-llm/README.md
Labels: documentation, size:M, llm

#106 doc: update info before release 1.5.0
  .github/workflows/hugegraph-python-client.yml
  README.md
Labels: documentation, size:S

#83 feat(ml): node emdedding, node classify and graph classify with models based on DGL
  .github/workflows/pylint.yml
  hugegraph-ml/README.md
  hugegraph-ml/pyproject.toml
  hugegraph-ml/requirements.txt
  hugegraph-ml/setup.py
  hugegraph-ml/src/hugegraph_ml/__init__.py
  hugegraph-ml/src/hugegraph_ml/data/__init__.py
  hugegraph-ml/src/hugegraph_ml/data/hugegraph2dgl.py
  hugegraph-ml/src/hugegraph_ml/data/hugegraph_dataset.py
  hugegraph-ml/src/hugegraph_ml/examples/__init__.py
  hugegraph-ml/src/hugegraph_ml/examples/dgi_example.py
  hugegraph-ml/src/hugegraph_ml/examples/diffpool_example.py
  hugegraph-ml/src/hugegraph_ml/examples/gin_example.py
  hugegraph-ml/src/hugegraph_ml/examples/grace_example.py
  hugegraph-ml/src/hugegraph_ml/examples/grand_example.py
  hugegraph-ml/src/hugegraph_ml/examples/jknet_example.py
  hugegraph-ml/src/hugegraph_ml/models/__init__.py
  hugegraph-ml/src/hugegraph_ml/models/dgi.py
  hugegraph-ml/src/hugegraph_ml/models/diffpool.py
  hugegraph-ml/src/hugegraph_ml/models/gin_global_pool.py
  hugegraph-ml/src/hugegraph_ml/models/grace.py
  hugegraph-ml/src/hugegraph_ml/models/grand.py
  hugegraph-ml/src/hugegraph_ml/models/jknet.py
  hugegraph-ml/src/hugegraph_ml/models/mlp.py
  hugegraph-ml/src/hugegraph_ml/tasks/__init__.py
  hugegraph-ml/src/hugegraph_ml/tasks/graph_classify.py
  hugegraph-ml/src/hugegraph_ml/tasks/node_classify.py
  hugegraph-ml/src/hugegraph_ml/tasks/node_embed.py
  hugegraph-ml/src/hugegraph_ml/utils/__init__.py
  hugegraph-ml/src/hugegraph_ml/utils/dgl2hugegraph_utils.py
  hugegraph-ml/src/hugegraph_ml/utils/early_stopping.py
  hugegraph-ml/src/tests/conftest.py
  hugegraph-ml/src/tests/test_data/test_hugegraph2dgl.py
  hugegraph-ml/src/tests/test_examples/test_examples.py
  hugegraph-ml/src/tests/test_tasks/test_node_classify.py
  hugegraph-ml/src/tests/test_tasks/test_node_embed.py
  style/code_format_and_analysis.sh
Labels: enhancement, size:XXL, ml

#108 chore(dist): add `.gitattributes` for exporting source package
  .gitattributes
Labels: size:S

#109 chore(dist): exclude binary files when exporting source package
  .gitattributes
Labels: size:XS

#102 feat(ml): graph learning algorithm impl (10+)
  hugegraph-ml/README.md
  hugegraph-ml/src/hugegraph_ml/data/hugegraph2dgl.py
  hugegraph-ml/src/hugegraph_ml/examples/agnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/appnp_example.py
  hugegraph-ml/src/hugegraph_ml/examples/arma_example.py
  hugegraph-ml/src/hugegraph_ml/examples/bgnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/bgrl_example.py
  hugegraph-ml/src/hugegraph_ml/examples/care_gnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/cluster_gcn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/correct_and_smooth_example.py
  hugegraph-ml/src/hugegraph_ml/examples/dagnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/deepergcn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/gatne_example.py
  hugegraph-ml/src/hugegraph_ml/examples/pgnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/seal_example.py
  hugegraph-ml/src/hugegraph_ml/models/agnn.py
  hugegraph-ml/src/hugegraph_ml/models/appnp.py
  hugegraph-ml/src/hugegraph_ml/models/arma.py
  hugegraph-ml/src/hugegraph_ml/models/bgnn.py
  hugegraph-ml/src/hugegraph_ml/models/bgrl.py
  hugegraph-ml/src/hugegraph_ml/models/care_gnn.py
  hugegraph-ml/src/hugegraph_ml/models/cluster_gcn.py
  hugegraph-ml/src/hugegraph_ml/models/correct_and_smooth.py
  hugegraph-ml/src/hugegraph_ml/models/dagnn.py
  hugegraph-ml/src/hugegraph_ml/models/deepergcn.py
  hugegraph-ml/src/hugegraph_ml/models/gatne.py
  hugegraph-ml/src/hugegraph_ml/models/pgnn.py
  hugegraph-ml/src/hugegraph_ml/models/seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/fraud_detector_caregnn.py
  hugegraph-ml/src/hugegraph_ml/tasks/hetero_sample_embed_gatne.py
  hugegraph-ml/src/hugegraph_ml/tasks/link_prediction_pgnn.py
  hugegraph-ml/src/hugegraph_ml/tasks/link_prediction_seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/node_classify_with_edge.py
  hugegraph-ml/src/hugegraph_ml/tasks/node_classify_with_sample.py
  hugegraph-ml/src/hugegraph_ml/utils/dgl2hugegraph_utils.py
  hugegraph-ml/src/tests/test_examples/test_examples.py
Labels: enhancement, size:XXL, ml

#111 refact(client): use rich handle for log
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/indices/vector_index.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/chunk_split.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/utils/log.py
  hugegraph-python-client/requirements.txt
  hugegraph-python-client/src/pyhugegraph/utils/log.py
Labels: dependencies, size:L, llm, python-client

#101 refactor: optimize the process of graph rag
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
Labels: size:L, llm

#104 chore: clean LICENSE for source code package
  LICENSE
Labels: size:XS

#113 fix(ml): handle pylint warning
  hugegraph-ml/src/hugegraph_ml/examples/correct_and_smooth_example.py
  hugegraph-ml/src/hugegraph_ml/examples/gatne_example.py
  hugegraph-ml/src/hugegraph_ml/models/agnn.py
  hugegraph-ml/src/hugegraph_ml/models/appnp.py
  hugegraph-ml/src/hugegraph_ml/models/arma.py
  hugegraph-ml/src/hugegraph_ml/models/bgnn.py
  hugegraph-ml/src/hugegraph_ml/models/bgrl.py
  hugegraph-ml/src/hugegraph_ml/models/care_gnn.py
  hugegraph-ml/src/hugegraph_ml/models/cluster_gcn.py
  hugegraph-ml/src/hugegraph_ml/models/correct_and_smooth.py
  hugegraph-ml/src/hugegraph_ml/models/dagnn.py
  hugegraph-ml/src/hugegraph_ml/models/deepergcn.py
  hugegraph-ml/src/hugegraph_ml/models/gatne.py
  hugegraph-ml/src/hugegraph_ml/models/pgnn.py
  hugegraph-ml/src/hugegraph_ml/models/seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/fraud_detector_caregnn.py
  hugegraph-ml/src/tests/test_examples/test_examples.py
Labels: bug, size:L, ml, lgtm

#110 feat(llm): support log_block in RAG platform & rest-api
  hugegraph-llm/src/hugegraph_llm/api/admin_api.py
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/config/generate.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/admin_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/other_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
Labels: enhancement, size:L, llm, lgtm

#114 fix(rag): rag api critical bug & rename some params
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/word_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/vector_index_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
Labels: bug, size:L, llm, lgtm

#115 fix: null value detection on vid attributes
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
Labels: bug, size:XS, llm, lgtm

#116 fix(llm): answer prompt None value effect
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
Labels: bug, size:XS, llm, lgtm

#112 feat(llm): separate multi llm configs/models
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/gremlin_generate_web_demo.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/init_embedding.py
  hugegraph-llm/src/hugegraph_llm/models/llms/init_llm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/ollama.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/word_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-llm/src/hugegraph_llm/utils/vector_index_utils.py
Labels: enhancement, size:L, llm, lgtm

#118 chore(dist): add license header for files under style directory
  .licenserc.yaml
  style/code_format_and_analysis.sh
  style/pylint.conf
Labels: size:M, lgtm

#119 chore: enable allow-license & exclude style dir
  .gitattributes
  .github/workflows/check-dependencies.yml
Labels: dependencies, size:S, lgtm

#120 refactor(llm): merge & update keyword extraction logic/prompt
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/nltk_helper.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
Labels: enhancement, size:L, llm, lgtm
