Repository apache/incubator-hugegraph-ai, pull requests merged in 2024-03, with the labels that each got.

#31 chore: Update LICENSE and NOTICE
  LICENSE
  NOTICE
Labels: documentation, size:XS

#30 feat: Introduce gradio for creating interactive and visual demo
  hugegraph-llm/examples/build_kg_test.py
  hugegraph-llm/examples/graph_rag_test.py
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/config/config.ini
  hugegraph-llm/src/hugegraph_llm/llms/ernie_bot.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/nltk_helper.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/kg_construction_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/config.py
  hugegraph-llm/src/hugegraph_llm/utils/gradio_demo.py
Labels: enhancement, size:L

#32 Add setup.py for packaging
  .github/workflows/hugegraph-python-client.yml
  hugegraph-llm/MANIFEST.in
  hugegraph-llm/setup.py
  hugegraph-llm/src/hugegraph_llm/config/__init__.py
  hugegraph-llm/src/hugegraph_llm/config/config.ini
  hugegraph-llm/src/hugegraph_llm/examples/__init__.py
  hugegraph-llm/src/hugegraph_llm/examples/build_kg_test.py
  hugegraph-llm/src/hugegraph_llm/examples/graph_rag_test.py
  hugegraph-llm/src/hugegraph_llm/llms/ernie_bot.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/nltk_helper.py
  hugegraph-llm/src/hugegraph_llm/utils/config.py
  hugegraph-llm/src/hugegraph_llm/utils/gradio_demo.py
  hugegraph-python-client/setup.py
  hugegraph-python-client/src/pyhugegraph/__init__.py
  hugegraph-python-client/src/pyhugegraph/example/__init__.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_example.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_test.py
Labels: enhancement, size:L

#33 chore: add release scripts
  scripts/apache-release.sh
Labels: enhancement, size:L

#34 chang file chmod 755
  scripts/apache-release.sh
Labels: enhancement, size:XS

#35 chore: create DISCLAIMER file for ASF
  DISCLAIMER
Labels: documentation, size:XS
