Repository apache/incubator-hugegraph-ai, pull requests merged in 2024-12, with the labels that each got.

#121 fix(llm): limit the length of log & improve the format
  hugegraph-llm/src/hugegraph_llm/api/admin_api.py
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/admin_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
Labels: enhancement, size:M, llm, lgtm

#125 fix: pylint in ml
  hugegraph-ml/src/hugegraph_ml/data/hugegraph2dgl.py
  hugegraph-ml/src/hugegraph_ml/examples/bgnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/bgrl_example.py
  hugegraph-ml/src/hugegraph_ml/examples/care_gnn_example.py
  hugegraph-ml/src/hugegraph_ml/examples/correct_and_smooth_example.py
  hugegraph-ml/src/hugegraph_ml/examples/gatne_example.py
  hugegraph-ml/src/hugegraph_ml/models/arma.py
  hugegraph-ml/src/hugegraph_ml/models/bgnn.py
  hugegraph-ml/src/hugegraph_ml/models/bgrl.py
  hugegraph-ml/src/hugegraph_ml/models/care_gnn.py
  hugegraph-ml/src/hugegraph_ml/models/cluster_gcn.py
  hugegraph-ml/src/hugegraph_ml/models/correct_and_smooth.py
  hugegraph-ml/src/hugegraph_ml/models/dagnn.py
  hugegraph-ml/src/hugegraph_ml/models/deepergcn.py
  hugegraph-ml/src/hugegraph_ml/models/gatne.py
  hugegraph-ml/src/hugegraph_ml/models/pgnn.py
  hugegraph-ml/src/hugegraph_ml/models/seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/fraud_detector_caregnn.py
  hugegraph-ml/src/hugegraph_ml/tasks/hetero_sample_embed_gatne.py
  hugegraph-ml/src/hugegraph_ml/tasks/link_prediction_pgnn.py
  hugegraph-ml/src/hugegraph_ml/tasks/link_prediction_seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/node_classify_with_sample.py
  hugegraph-ml/src/hugegraph_ml/utils/dgl2hugegraph_utils.py
Labels: size:L, ml, lgtm

#131 fix(lint): critical bug with pylint usage
  .github/workflows/pylint.yml
  hugegraph-llm/src/hugegraph_llm/api/admin_api.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/admin_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-ml/requirements.txt
  hugegraph-ml/src/hugegraph_ml/models/agnn.py
  hugegraph-ml/src/hugegraph_ml/models/arma.py
  hugegraph-ml/src/hugegraph_ml/models/bgnn.py
  hugegraph-ml/src/hugegraph_ml/models/bgrl.py
  hugegraph-ml/src/hugegraph_ml/models/cluster_gcn.py
  hugegraph-ml/src/hugegraph_ml/models/dagnn.py
  hugegraph-ml/src/hugegraph_ml/models/gatne.py
  hugegraph-ml/src/hugegraph_ml/models/pgnn.py
  hugegraph-ml/src/hugegraph_ml/models/seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/fraud_detector_caregnn.py
  hugegraph-ml/src/hugegraph_ml/tasks/link_prediction_seal.py
  hugegraph-ml/src/hugegraph_ml/tasks/node_classify_with_sample.py
  hugegraph-ml/src/hugegraph_ml/utils/dgl2hugegraph_utils.py
  hugegraph-ml/src/tests/test_examples/test_examples.py
  style/code_format_and_analysis.sh
  style/pylint.conf
Labels: size:L, llm, ml, lgtm

#105 feat(llm): added the process of text2gql in graphrag V1.0
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/__init__.py
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/gremlin_generate_web_demo.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/text2gremlin_block.py
  hugegraph-llm/src/hugegraph_llm/indices/vector_index.py
  hugegraph-llm/src/hugegraph_llm/models/llms/base.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/gremlin_generate_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/schema_manager.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/gremlin_example_index_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/vector_index_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/gremlin_generate.py
  hugegraph-llm/src/hugegraph_llm/resources/demo/css.py
  hugegraph-llm/src/hugegraph_llm/resources/demo/text2gremlin.csv
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-python-client/src/pyhugegraph/utils/util.py
Labels: enhancement, size:XL, llm, python-client, lgtm

#132 fix(llm): multi vid k-neighbor query only return the data of first vid
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/text2gremlin_block.py
  hugegraph-llm/src/hugegraph_llm/indices/vector_index.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
Labels: size:M, llm, lgtm

#133 fix(llm): replace getenv usage to settings
  hugegraph-llm/src/hugegraph_llm/api/admin_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/admin_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/qianfan.py
  hugegraph-llm/src/hugegraph_llm/models/llms/qianfan.py
Labels: size:M, llm, lgtm

#135 fix(llm): support choose template in api
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/gremlin_generate_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
Labels: size:L, llm, lgtm

#140 fix(ml): Correct header writing errors
  hugegraph-ml/src/hugegraph_ml/models/appnp.py
  hugegraph-ml/src/hugegraph_ml/models/arma.py
  hugegraph-ml/src/hugegraph_ml/models/bgrl.py
  hugegraph-ml/src/hugegraph_ml/models/gatne.py
Labels: size:XS, ml, lgtm

#137 fix(llm): update prompt to fit prefix cache
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/text2gremlin_block.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/gremlin_generate.py
Labels: size:L, llm, lgtm

#142 chore: enable pip cache
  .github/workflows/pylint.yml
Labels: size:S

#141 feat(llm): timely execute vid embedding & enhance some HTTP logic
  .github/workflows/pylint.yml
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/models/rerankers/cohere.py
  hugegraph-llm/src/hugegraph_llm/models/rerankers/siliconflow.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-python-client/src/pyhugegraph/client.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_config.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_requests.py
Labels: enhancement, size:L, llm, python-client, lgtm

#145 fix(llm): extract_graph_data use wrong method
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
Labels: bug, size:XS, llm, lgtm

#143 feat(llm): use retry from tenacity
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
Labels: enhancement, size:S, llm, lgtm

#148 refactor(llm): remove with gremlin prompt logic in api & rag block
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/text2gremlin_block.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/gremlin_example_index_query.py
Labels: size:M, llm, lgtm
