Repository apache/incubator-hugegraph-ai, pull requests merged in 2024-08, with the labels that each got.

#60 fix(llm): change schema
  hugegraph-llm/README.md
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/config/generate.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/check_schema.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/tests/operators/common_op/test_check_schema.py
Labels: bug, size:L, llm

#57 fix(llm): use a proper template for default case
  .asf.yaml
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/check_schema.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/disambiguate_data.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/info_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/tests/operators/common_op/test_check_schema.py
Labels: size:L, llm

#61 feat(client): support graphspace & refactor the request logic
  hugegraph-python-client/src/pyhugegraph/api/auth.py
  hugegraph-python-client/src/pyhugegraph/api/common.py
  hugegraph-python-client/src/pyhugegraph/api/graph.py
  hugegraph-python-client/src/pyhugegraph/api/graphs.py
  hugegraph-python-client/src/pyhugegraph/api/gremlin.py
  hugegraph-python-client/src/pyhugegraph/api/metric.py
  hugegraph-python-client/src/pyhugegraph/api/schema.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/edge_label.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/index_label.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/property_key.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/vertex_label.py
  hugegraph-python-client/src/pyhugegraph/api/task.py
  hugegraph-python-client/src/pyhugegraph/api/traverser.py
  hugegraph-python-client/src/pyhugegraph/api/variable.py
  hugegraph-python-client/src/pyhugegraph/api/version.py
  hugegraph-python-client/src/pyhugegraph/client.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_example.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_test.py
  hugegraph-python-client/src/pyhugegraph/structure/graph_instance.py
  hugegraph-python-client/src/pyhugegraph/structure/property_key_data.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_config.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_decorator.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_requests.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_router.py
  hugegraph-python-client/src/pyhugegraph/utils/log.py
  hugegraph-python-client/src/pyhugegraph/utils/util.py
  hugegraph-python-client/src/tests/api/test_auth.py
Labels: enhancement, size:XXL, python-client

#58 feat(llm): handle 'island nodes' extraction in 2-step graph queries and add asynchronous methods to the four types of generation functions in the rag web demo.
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/enums/id_strategy.py
  hugegraph-llm/src/hugegraph_llm/indices/graph_index.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/base.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/ollama.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/openai.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/qianfan.py
  hugegraph-llm/src/hugegraph_llm/models/llms/base.py
  hugegraph-llm/src/hugegraph_llm/models/llms/ollama.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
  hugegraph-llm/src/hugegraph_llm/models/llms/qianfan.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/check_schema.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/merge_dedup_rerank.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/disambiguate_data.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/info_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/hugegraph_utils.py
  style/pylint.conf
Labels: bug, enhancement, size:L, llm

#65 doc: revise environment dependencies; update preparation
  hugegraph-llm/README.md
Labels: documentation, size:S, llm

#63 feat(client): Implement new api & optimize code structure
  hugegraph-python-client/README.md
  hugegraph-python-client/src/pyhugegraph/api/auth.py
  hugegraph-python-client/src/pyhugegraph/api/common.py
  hugegraph-python-client/src/pyhugegraph/api/graph.py
  hugegraph-python-client/src/pyhugegraph/api/graphs.py
  hugegraph-python-client/src/pyhugegraph/api/gremlin.py
  hugegraph-python-client/src/pyhugegraph/api/metric.py
  hugegraph-python-client/src/pyhugegraph/api/rank.py
  hugegraph-python-client/src/pyhugegraph/api/rebuild.py
  hugegraph-python-client/src/pyhugegraph/api/schema.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/edge_label.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/index_label.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/property_key.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/vertex_label.py
  hugegraph-python-client/src/pyhugegraph/api/services.py
  hugegraph-python-client/src/pyhugegraph/api/task.py
  hugegraph-python-client/src/pyhugegraph/api/traverser.py
  hugegraph-python-client/src/pyhugegraph/api/variable.py
  hugegraph-python-client/src/pyhugegraph/api/version.py
  hugegraph-python-client/src/pyhugegraph/client.py
  hugegraph-python-client/src/pyhugegraph/structure/rank_data.py
  hugegraph-python-client/src/pyhugegraph/structure/services_data.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_config.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_decorator.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_requests.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_router.py
  hugegraph-python-client/src/pyhugegraph/utils/log.py
  hugegraph-python-client/src/pyhugegraph/utils/util.py
  style/pylint.conf
Labels: enhancement, size:XXL, python-client

#66 chore(client): fix pylint
  hugegraph-python-client/src/pyhugegraph/api/graph.py
  hugegraph-python-client/src/pyhugegraph/api/rebuild.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/edge_label.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/index_label.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/property_key.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/vertex_label.py
  hugegraph-python-client/src/pyhugegraph/api/services.py
  hugegraph-python-client/src/pyhugegraph/client.py
  hugegraph-python-client/src/pyhugegraph/structure/rank_data.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_config.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_requests.py
  hugegraph-python-client/src/pyhugegraph/utils/log.py
  hugegraph-python-client/src/pyhugegraph/utils/util.py
Labels: size:L, python-client

#68 chore: enable merge option temporarily
  .asf.yaml
Labels: size:XS

#64 feat(llm): support basic rag api(v1)
  .gitignore
  hugegraph-llm/src/hugegraph_llm/api/exceptions/__init__.py
  hugegraph-llm/src/hugegraph_llm/api/exceptions/rag_exceptions.py
  hugegraph-llm/src/hugegraph_llm/api/models/__init__.py
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/models/rag_response.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/enums/build_mode.py
Labels: enhancement, size:XL, llm

#70 feat(llm): add auth for fastapi and gradio
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
Labels: enhancement, size:M, llm

#69 feat(llm): support word segmt extraction component & multi-files uploading
  .asf.yaml
  .gitignore
  hugegraph-llm/src/hugegraph_llm/api/exceptions/rag_exceptions.py
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/indices/graph_index.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/merge_dedup_rerank.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/chunk_split.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/word_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/schema_manager.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/operators/kg_construction_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/utils/hugegraph_utils.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_example.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_test.py
  hugegraph-python-client/src/tests/client_utils.py
Labels: enhancement, size:L, llm, python-client

#71 feat(llm): support user-defined search template
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/merge_dedup_rerank.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
Labels: enhancement, size:L, llm

#74 feat: Add progress bars and print information for building vector indexes
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_vector_index.py
Labels: enhancement, size:XS, llm

#72 feat(llm): record token cost & qps
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/middleware/__init__.py
  hugegraph-llm/src/hugegraph_llm/middleware/middleware.py
  hugegraph-llm/src/hugegraph_llm/models/llms/ollama.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
  hugegraph-llm/src/hugegraph_llm/models/llms/qianfan.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/gremlin_generate_task.py
  hugegraph-llm/src/hugegraph_llm/operators/kg_construction_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/info_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/decorators.py
Labels: enhancement, size:L, llm
