Repository apache/incubator-hugegraph-ai, pull requests merged in 2024-10, with the labels that each got.

#93 feat(client): support complete data type for PropertyKey
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/property_key.py
Labels: enhancement, size:M, python-client

#89 refactor(llm): enhance a string of graph query method
  hugegraph-llm/src/hugegraph_llm/demo/gremlin_generate_web_demo.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/indices/vector_index.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-python-client/src/pyhugegraph/api/schema.py
Labels: enhancement, size:L, llm, python-client

#94 chore: update graph ai repo desc
  .asf.yaml
Labels: size:S

#90 fix(llm): update config in time after apply changes in UI
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-llm/src/hugegraph_llm/utils/vector_index_utils.py
Labels: bug, size:L, llm

#100 fix: lowercase the repo label
  .asf.yaml
Labels: size:XS

#103 docs(llm): update preparations and example codes
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/enums/__init__.py
Labels: documentation, size:M, llm
