Repository apache/incubator-hugegraph-ai, pull requests merged in 2024-09, with the labels that each got.

#76 feat(llm): support record QPS by decorator
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/gremlin_generate_task.py
  hugegraph-llm/src/hugegraph_llm/operators/kg_construction_task.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/disambiguate_data.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/gremlin_generate.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/info_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/decorators.py
Labels: enhancement, size:M, llm

#78 feat(llm): support multi-QA test/generate
  hugegraph-llm/.gitignore
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/resources/demo/questions_template.xlsx
Labels: enhancement, dependencies, size:L, llm

#77 refact(llm): separate user prompt configs
  .gitignore
  hugegraph-llm/src/hugegraph_llm/config/__init__.py
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/config/generate.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
Labels: enhancement, size:L, llm

#79 feat(llm): support graph_rag_recall api
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
  hugegraph-llm/src/hugegraph_llm/models/llms/init_llm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/word_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/schema_manager.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/disambiguate_data.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/decorators.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
Labels: enhancement, size:L, llm

#80 chore: reconstruct web using tabs pages
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/__init__.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/other_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_web_demo.py
Labels: enhancement, size:XXL, llm

#86 fix: pylint for ci
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/config.py
  hugegraph-llm/src/hugegraph_llm/config/config_data.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/indices/vector_index.py
  hugegraph-llm/src/hugegraph_llm/middleware/middleware.py
  hugegraph-llm/src/hugegraph_llm/operators/document_op/word_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/disambiguate_data.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/keyword_extract.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/property_graph_extract.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-python-client/src/pyhugegraph/client.py
  style/pylint.conf
Labels: size:L, llm, python-client

#85 chore: update gradio to v4.43.0
  hugegraph-llm/requirements.txt
Labels: dependencies, size:XS, llm

#88 feat(llm): update openai dependency to 1.47
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/models/embeddings/openai.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
Labels: dependencies, size:M, llm
