Repository apache/incubator-hugegraph-ai, pull requests merged in 2025-01, with the labels that each got.

#150 doc(client): update README for python-client/SDK
  hugegraph-python-client/README.md
Labels: documentation, size:L, python-client, lgtm

#147 feat(llm): Modify the return messages of Get Vector Index Info and Get Graph Index Info
  hugegraph-llm/src/hugegraph_llm/config/models/base_prompt_config.py
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/fetch_graph_data.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-llm/src/hugegraph_llm/utils/vector_index_utils.py
Labels: enhancement, size:L, llm, lgtm

#151 feat(llm): automatic backup graph data timely
  .gitattributes
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/other_block.py
  hugegraph-python-client/src/pyhugegraph/api/schema_manage/edge_label.py
Labels: enhancement, size:L, llm, python-client, lgtm

#153 refactor(llm): add a button to backup data & count together
  .gitattributes
  hugegraph-llm/.gitignore
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/other_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/utils/hugegraph_utils.py
Labels: enhancement, size:L, llm, lgtm

#155 fix(llm): use empty str for llm config
  hugegraph-llm/src/hugegraph_llm/models/embeddings/openai.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
Labels: size:XS, llm, lgtm

#154 refactor(llm): extract `topk_per_keyword` & `topk_return_results` to .env
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/config/hugegraph_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/merge_dedup_rerank.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
Labels: enhancement, size:M, llm, lgtm

#156 feat(llm): modify clear buttons
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/utils/graph_index_utils.py
  hugegraph-llm/src/hugegraph_llm/utils/hugegraph_utils.py
Labels: enhancement, size:M, llm, lgtm

#159 feat(llm): support intent recognition V1
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
Labels: enhancement, size:M, llm, lgtm

#158 refactor(llm): change vid embedding x:yy to yy & use multi-thread
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
Labels: enhancement, size:M, llm, lgtm

#157 refactor(llm): support mathjax in rag query block V1
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/gremlin_example_index_query.py
  hugegraph-llm/src/hugegraph_llm/resources/demo/css.py
Labels: enhancement, size:M, llm, lgtm

#149 feat(llm): use poetry to manage the dependencies
  .github/workflows/check-dependencies.yml
  .licenserc.yaml
  NOTICE
  hugegraph-llm/README.md
  hugegraph-llm/poetry.lock
  hugegraph-llm/pyproject.toml
Labels: dependencies, size:L, llm
