Repository apache/incubator-hugegraph-ai, pull requests merged in 2025-05, with the labels that each got.

#219 fix(clien): fix documentation sample code error
  hugegraph-python-client/README.md
Labels: documentation, size:S, python-client, lgtm

#216 feat(llm):disable text2gql by default
  hugegraph-llm/quick_start.md
  hugegraph-llm/src/hugegraph_llm/api/admin_api.py
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
Labels: enhancement, size:M, llm, lgtm

#214 chore(llm): use 4.1-mini and 0.01 temperature by default
  .asf.yaml
  hugegraph-llm/src/hugegraph_llm/config/llm_config.py
  hugegraph-llm/src/hugegraph_llm/models/llms/litellm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
  hugegraph-llm/src/hugegraph_llm/models/llms/qianfan.py
Labels: enhancement, size:M, llm, lgtm

#212 Enhance-the-config
  .gitignore
  hugegraph-llm/src/hugegraph_llm/config/models/base_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
Labels: enhancement, size:M, llm, lgtm

#223 feat(llm): Textbox to Code #217
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
Labels: enhancement, size:S, llm, lgtm

#209 refactor: replace the IP + Port with URL
  .gitignore
  hugegraph-llm/README.md
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/hugegraph_config.py
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/vector_graph_block.py
  hugegraph-llm/src/hugegraph_llm/indices/graph_index.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/commit_to_hugegraph.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/schema_manager.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-llm/src/hugegraph_llm/utils/hugegraph_utils.py
  hugegraph-ml/src/hugegraph_ml/data/hugegraph2dgl.py
  hugegraph-ml/src/hugegraph_ml/utils/dgl2hugegraph_utils.py
  hugegraph-python-client/src/pyhugegraph/client.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_example.py
  hugegraph-python-client/src/pyhugegraph/example/hugegraph_test.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_config.py
  hugegraph-python-client/src/pyhugegraph/utils/huge_requests.py
  hugegraph-python-client/src/tests/client_utils.py
Labels: bug, size:L, llm, ml, python-client, lgtm

#235 chore(dependency): update gradio's version
  hugegraph-llm/requirements.txt
Labels: dependencies, size:XS, llm, lgtm

#243 fix(llm): failed to remove vectors when updating vid embedding
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
Labels: bug, size:XS, llm, lgtm

#215 chore(llm): use asyncio to get embeddings
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
Labels: size:M, llm, lgtm

#238 refactor(llm): support batch embedding
  hugegraph-llm/pyproject.toml
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/models/embeddings/base.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/ollama.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/openai.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/qianfan.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_gremlin_example_index.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/gremlin_example_index_query.py
Labels: enhancement, size:L, llm, lgtm

#226 chore(hg-llm): use uv instead poetry
  .github/workflows/hugegraph-python-client.yml
  .github/workflows/pylint.yml
  hugegraph-llm/MANIFEST.in
  hugegraph-llm/README.md
  hugegraph-llm/poetry.lock
  hugegraph-llm/pyproject.toml
  hugegraph-llm/setup.py
  hugegraph-llm/src/hugegraph_llm/config/models/base_config.py
  hugegraph-llm/src/hugegraph_llm/config/models/base_prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
Labels: dependencies, size:L, llm, lgtm

#245 fix(llm): skip empty chunk in LLM steaming mode
  README.md
  hugegraph-llm/README.md
  hugegraph-llm/pyproject.toml
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/models/llms/litellm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/ollama.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
Labels: bug, size:S, llm, lgtm

#250 fix(llm): ollama batch embedding bug
  hugegraph-llm/src/hugegraph_llm/models/embeddings/base.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/ollama.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_semantic_index.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/build_vector_index.py
  hugegraph-llm/src/tests/indices/test_vector_index.py
Labels: bug, size:M, llm, lgtm

#261 refactor(llm): basic compatible in text2gremlin generation
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/gremlin_generate.py
Labels: enhancement, size:XS, llm, lgtm
