Repository apache/incubator-hugegraph-ai, pull requests merged in 2025-06, with the labels that each got.

#257 refactor: use uv in client & ml modules & adapter the CI
  .github/workflows/codeql.yml
  .github/workflows/hugegraph-python-client.yml
  .github/workflows/pylint.yml
  hugegraph-llm/pyproject.toml
  hugegraph-ml/README.md
  hugegraph-ml/pyproject.toml
  hugegraph-ml/requirements.txt
  hugegraph-ml/setup.py
  hugegraph-python-client/README.md
  hugegraph-python-client/pyproject.toml
  hugegraph-python-client/requirements.txt
  hugegraph-python-client/setup.py
Labels: dependencies, size:L, llm, ml, python-client

#275 docs: fix grammar errors
  hugegraph-llm/README.md
Labels: documentation, size:XS, llm, lgtm

#276 docs: improve README clarity and deployment instructions
  .github/workflows/auto-pr-comment.yml
  hugegraph-llm/README.md
Labels: documentation, size:M, llm, lgtm
