Repository apache/incubator-hugegraph-ai, pull requests merged in 2025-02, with the labels that each got.

#162 feat(llm): add post method for paths-api
  hugegraph-python-client/src/pyhugegraph/api/traverser.py
Labels: enhancement, size:S, python-client, lgtm

#161 refactor(llm): return schema.groovy first when backup graph data
  hugegraph-llm/src/hugegraph_llm/utils/hugegraph_utils.py
Labels: size:M, llm, lgtm

#164 fix(llm): enable fastapi auto reload function
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
Labels: size:S, llm, lgtm

#171 fix(llm): Merge all logs into one file
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/utils/log.py
  hugegraph-python-client/setup.py
  hugegraph-python-client/src/pyhugegraph/utils/log.py
Labels: size:L, llm, python-client, lgtm

#175 refactor: use uv for the CI action
  .github/workflows/hugegraph-python-client.yml
  .github/workflows/pylint.yml
Labels: size:M, lgtm

#174 refactor(llm): use EN prompt for keywords extraction
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
Labels: size:L, llm, lgtm

#178 feat(llm): support litellm LLM provider
  hugegraph-llm/.gitignore
  hugegraph-llm/README.md
  hugegraph-llm/poetry.lock
  hugegraph-llm/pyproject.toml
  hugegraph-llm/requirements.txt
  hugegraph-llm/src/hugegraph_llm/config/llm_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/init_embedding.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/litellm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/init_llm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/litellm.py
Labels: enhancement, size:L, llm, lgtm
