Repository apache/incubator-hugegraph-ai, pull requests merged in 2025-03, with the labels that each got.

#184 feat(llm): support switch graph in api & add some query configs
  .github/workflows/hugegraph-python-client.yml
  README.md
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/text2gremlin_block.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/merge_dedup_rerank.py
  hugegraph-llm/src/hugegraph_llm/operators/graph_rag_task.py
  hugegraph-llm/src/hugegraph_llm/operators/index_op/semantic_id_query.py
  hugegraph-ml/README.md
  hugegraph-python-client/README.md
Labels: documentation, size:L, llm, ml, python-client, lgtm

#189 refactor(llm): replace vid by full vertexes info
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/text2gremlin_block.py
  hugegraph-llm/src/hugegraph_llm/operators/hugegraph_op/graph_rag_query.py
Labels: size:M, llm, lgtm

#190 feat(llm): support asynchronous streaming generation in rag block by using async_generator and asyncio.wait.
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/admin_block.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/models/llms/base.py
  hugegraph-llm/src/hugegraph_llm/models/llms/litellm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/ollama.py
  hugegraph-llm/src/hugegraph_llm/models/llms/openai.py
  hugegraph-llm/src/hugegraph_llm/models/llms/qianfan.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/answer_synthesize.py
  hugegraph-llm/src/hugegraph_llm/operators/llm_op/gremlin_generate.py
Labels: enhancement, size:XL, llm, lgtm

#196 feat(llm): create quick_start.md
  hugegraph-llm/README.md
  hugegraph-llm/quick_start.md
Labels: documentation, size:L, llm, lgtm

#195 feat(llm): support Docker & K8s deployment way
  .gitattributes
  .licenserc.yaml
  docker/Dockerfile.llm
  docker/charts/hg-llm/.helmignore
  docker/charts/hg-llm/Chart.yaml
  docker/charts/hg-llm/templates/NOTES.txt
  docker/charts/hg-llm/templates/_helpers.tpl
  docker/charts/hg-llm/templates/deployment.yaml
  docker/charts/hg-llm/templates/hpa.yaml
  docker/charts/hg-llm/templates/ingress.yaml
  docker/charts/hg-llm/templates/service.yaml
  docker/charts/hg-llm/templates/serviceaccount.yaml
  docker/charts/hg-llm/templates/tests/test-connection.yaml
  docker/charts/hg-llm/values.yaml
  docker/docker-compose-llm.yml
  hugegraph-llm/setup.py
  scripts/build_llm_image.sh
Labels: enhancement, size:XL, llm, lgtm

#201 chore: enable discussion & change merge way
  .asf.yaml
Labels: size:XS

#202 fix(llm): fix tiny bugs & optimize reranker layout
  hugegraph-llm/src/hugegraph_llm/config/prompt_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/rag_block.py
  hugegraph-llm/src/hugegraph_llm/models/rerankers/init_reranker.py
  hugegraph-llm/src/hugegraph_llm/operators/common_op/merge_dedup_rerank.py
Labels: bug, size:L, llm, lgtm
