Repository apache/incubator-hugegraph-ai, pull requests merged in 2025-07, with the labels that each got.

#283 docs: update docker compose command
  README.md
Labels: documentation, size:XS, lgtm

#287 chore: unify all modules with uv
  .github/workflows/black.yml
  .github/workflows/hugegraph-python-client.yml
  .github/workflows/pylint.yml
  .gitignore
  README.md
  docker/.dockerignore
  docker/Dockerfile.llm
  docker/Dockerfile.nk
  hugegraph-llm/README.md
  hugegraph-llm/pyproject.toml
  hugegraph-llm/requirements.txt
  hugegraph-ml/README.md
  hugegraph-ml/pyproject.toml
  hugegraph-python-client/README.md
  hugegraph-python-client/pyproject.toml
  pyproject.toml
  vermeer-python-client/README.md
  vermeer-python-client/pyproject.toml
Labels: dependencies, size:XL, llm, ml, python-client

#289 chore: add GitHub Actions for auto upstream sync and update SEALData subsample logic
  .github/pull.yml
  .github/workflows/sync.yml
  hugegraph-ml/src/hugegraph_ml/models/seal.py
Labels: size:M, ml, lgtm

#285 refactor(llm): replace QianFan by OpenAI-compatible format
  hugegraph-llm/pyproject.toml
  hugegraph-llm/src/hugegraph_llm/api/models/rag_requests.py
  hugegraph-llm/src/hugegraph_llm/api/rag_api.py
  hugegraph-llm/src/hugegraph_llm/config/llm_config.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/app.py
  hugegraph-llm/src/hugegraph_llm/demo/rag_demo/configs_block.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/init_embedding.py
  hugegraph-llm/src/hugegraph_llm/models/embeddings/qianfan.py
  hugegraph-llm/src/hugegraph_llm/models/llms/init_llm.py
  hugegraph-llm/src/hugegraph_llm/models/llms/qianfan.py
  pyproject.toml
Labels: enhancement, size:L, llm, lgtm

#294 docs: update README with improved setup instructions
  hugegraph-llm/README.md
Labels: documentation, size:XS, llm

#295 fix(llm): refactor embedding parallelization to preserve order
  hugegraph-llm/src/hugegraph_llm/utils/embedding_utils.py
Labels: llm, lgtm
